/Java/bruch_klasse/target/
/Java/Bankkonto/target/
/JavaApplication/nbproject/private/
/Zahlwerk/nbproject/private/
/Zahlwerk/target/
/Java/04_Abstrakte_Klassen/nbproject/private/
/KennzeichenSort/target/
/Java/Zufallszahlen/target/
